.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.movie {
  border: 1px solid black;
  flex-basis: 40%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.movie img {
  height: 75%;
  border-radius: 50px;
  box-shadow: 2px 2px 2px grey;
}

.movie button {
  margin-bottom: 10px;
}
